* {
	margin: 0 auto;
	padding: 0;
}
body {
	font-family: 'TrajanPro-Regular';
}
:focus {
	outline: 0; /*removes the dotted border*/
}
button::-moz-focus-inner {
 border: 0;
}
/* Login Page */
#wrapper {
	width: 800px;
	height: 800px;
	margin: 0 auto;
	padding: 0;
	background: url(../images/login-page-bg.jpg) top center no-repeat #4dc4eb;
}
.height-50 {
	height: 30px;
}
.height-70 {
	height: 70px;
}
.zee-logo {
	background: url(../images/zee-logo.png) center no-repeat;
	width: 370px;
	height: 216px;
}
.zee-login {
	background: url(../images/login-header.png) center no-repeat;
	width: 370px;
	height: 285px;
}
.login-box {
	width: 660px;
	height: 270px;
	background-color: rgba(206, 238, 250, 0.7);
	border-radius: 5px;
	margin: 0 auto;
	border: 3px solid rgba(255, 255, 255, 0.7);
}
.login-box-home {
	width: 740px;
	height: 350px;
	background-color: rgba(206, 238, 250, 0.7);
	border-radius: 5px;
	margin: 0 auto;
	border: 3px solid rgba(255, 255, 255, 0.7);
}
.text-box {
	width: 430px;
	float: left;
	position: relative;
	top: 100px;
}
.form-box {
	width: 284px;
	float: left;
	position: relative;
	top: 50px;
}
h2 {
	color: #11637f;
	font-size: 20px;
	letter-spacing: 1px;
	margin: 10px 0;
	text-align: center;
	text-transform: uppercase;
}
.line-one {
	text-align: center;
}
h3 {
	font-size: 15px;
	text-align: center;
	color: #2494ba;
	margin: 20px 25px 0;
	text-transform: uppercase;
	line-height: 25px;
}
.form-control {
	background-color: #beecfb;
	border-radius: 5px;
	border: 1px solid #b0d3df;
	padding: 7px;
	width: 80%;
	margin-top: 10px;
	color: #40bee9;
}
.submit-form {
	background-color: #1a7898;
	border: medium none;
	border-radius: 5px;
	color: #fff;
	float: right;
	font-weight: bold;
	margin: 10px 20px;
	cursor: pointer;
	padding: 6px 15px;
	outline: 0;
}
.submit-form:hover {
	background-color: #1a627a; /*border-bottom:3px solid #1a627a;*/
}
h4 {
	font-size: 16px;
	text-align: center;
	color: #11637f;
	text-transform: uppercase;
}
.form-group {
	text-align: center;
}
.line-two {
	float: left;
	position: relative;
	top: 30px;
}
.terms {
	bottom: 0;
	clear: both;
	color: #fff;
	position: relative;
	text-align: center;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
}
/* Login Page */

/* Qucation Page  */ 
.qucation-page-bg {
	width: 800px;
	height: 1330px;
	margin: 0 auto;
	padding: 0;
	background: url(../images/qucation-page-bg.jpg) top center no-repeat #4dc4eb;
}
.qucation-info {
	width: 612px;
	margin: 0 auto;
}
.video {
	height: 364px;
}
.qucation-start {
	border: 1px solid #3e9fc4;
	margin: 50px 0;
}
.qucation-number {
	background-color: #1a7898;
	color: #fff;
	float: left;
	font-size: 21px;
	padding: 10px;
}
.qucations {
	background-color: #29a2cb;
	color: #fff;
	font-size: 21px;
	margin-left: 55px;
	padding: 10px;
	text-transform: uppercase;
}
.answer {
	background-color: #fff;
}
.answer ul {
}
.answer ul li {
	display: inline-block;
	list-style-type: none;
	padding: 15px 0 15px 65px;
	color: #1a7898;
	text-transform: uppercase;
}
.submit {
	text-align: center;
}
.submit-form {
	background-color: #1a7898;
	border: medium none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	float: right;
	font-weight: bold;
	margin: 10px 20px;
	padding: 6px 15px;
}
.submit-form-ans {
	background-color: #1a7898;
	border: medium none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	padding: 6px 15px;
}
.submit-form-ans:hover {
	background-color: #1a627a;/*border-bottom:3px solid #1a627a;*/
}
/* Qucation Page  */

/* Thank You Page  */
.thank-you {
	padding: 9% 0;
}
h1 {
	font-size: 52px;
	color: #2494ba;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px solid #2494ba;
	width: 50%;
}
h6 {
	font-size: 18px;
	color: #2494ba;
	text-align: center;
	font-weight: 100;
	margin: 10px 0;
}
.fb-share {
	margin: 20px auto;
	text-align: center;
}
.error {
	float: left;
	color: #f50000;
	margin-left: 25px;
}
.join h2 {
	font-size: 24px;
	color: #fff;
	font-family: 'TrajanPro-Regular';
}
.social-link {
	text-align: center;
	color:#fff;
}
.social-link a{
	color:#fff;
	text-decoration:none;
}
.social-link ul {
	padding: 0;
}
.social-link ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0px 20px 0 20px;
}
.social-link ul li span {
	position: relative;
	top: -10px;
	font-size: 13px;
	font-family: arial;
}
.social-link ul li a {
	color: #fff;
	text-decoration: none;
}
.participate{ background:url(../images/participate.png) center no-repeat; width:288px; height:59px;}
.height-128{ height:128px;}
.height-250{ height:250px}













